# DATA SCIENCE JOBS: SALARIES AND TYPE OF WORKS MODELS

##  Data_visualization

Once we have the new clean dataset we can start working with the Data visualization, the process of graphical representation of information and data, by using visual elements like charts, graphs, and maps, and data visualization tools like Python or Tableau that provide an accessible way to see and understand patternd, trends, and outliers in data.

### Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import pycountry
from pycountry import countries
sns.set_theme()

%matplotlib inline

### Read dataset

In [10]:
read = pd.read_csv('../Clean_notebook/data_jobs.csv')
read.head()

,work_year,salary,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size,job_area
0,2023,96313,mid,full_time,Data Scientist,Canada,remote,Canada,small,Data
1,2023,250000,senior,full_time,Machine Learning Engineer,United States,on_site,United States,medium,Machine Learning
2,2023,140000,senior,full_time,Machine Learning Engineer,United States,on_site,United States,medium,Machine Learning
3,2023,48585,mid,full_time,Data Analyst,Portugal,remote,Portugal,medium,Data
4,2023,43187,mid,full_time,Data Analyst,Portugal,remote,Portugal,medium,Data

### Dataset shape and information

In [11]:
print("Number of rows and columns in the dataset:",read.shape)

Number of rows and columns in the dataset: (7595, 10)

In [19]:
# Exploring column names of the dataframe
print("The column names of the dataset are::\n\n",read.columns)

The column names of the dataset are::

 Index(['work_year', 'salary', 'experience_level', 'employment_type',
       'job_title', 'employee_residence', 'remote_ratio', 'company_location',
       'company_size', 'job_area'],
      dtype='object')

________

- Top 3 highest-payed roles, and evaluate the changes between 2020-2023 
(groupby role, agg salary, )

In [29]:
salary_year = read.copy()
salary_year = read.groupby["work_year","job_area"].["salary"].agg('max')

SyntaxError: invalid syntax (992227684.py, line 2)

In [30]:
salary_year = read.groupby('work_year','job_area').nlargest(2).sum(level=0)

ValueError: No axis named job_area for object type DataFrame

In [ ]:
df.groupby('State')['Population'].nlargest(2).sum(level=0)

- Which level of experience has the most representation?

- "Remote_ratio VS company_size": The size of the company influences in the overall amount of work done remotely?

- "Remote_ratios VS Salary": which kind of "type of work" has the highest salaries on 2023? has this changed over the years?
(median per cada remote_ratio---box plot)

- "Remote_ratios VS countries and residence": Where are most of the full_remote workers? Is there any country that stands out in particular?